    body {
        background-color: var(--theme-color);
    }
    
     :root {
        --theme-color: #6F4E37;
    }
    
    #navbar {
        position: sticky;
        top: 0px;
        z-index: 1000;
        background-color: whitesmoke;
    }
    
    #navbar a {
        color: #6F4E37;
        text-decoration: none;
    }
    
    #navbar span {
        color: #6F4E37;
        ;
    }
    
    #navbar h5 {
        color: aliceblue;
    }
    
    #bar-btn i {
        color: #6F4E37;
    }
    
    #bar-ul li {
        list-style-type: none;
        color: var(--theme-color);
    }
    
    #content h2,
    p {
        color: whitesmoke;
        font-family: serif;
    }
    
    #content h1 {
        color: #FFA239;
        font-family: cursive;
    }
    
    .btn1 {
        border-radius: 50px;
        padding: 5px;
        width: 130px;
        background-color: #FFA239;
        color: var(--theme-color);
        border: 2px solid whitesmoke;
    }
    
    .btn2 {
        border-radius: 50px;
        padding: 5px;
        width: 130px;
        border: 2px solid whitesmoke;
        background-color: var(--theme-color);
        color: whitesmoke;
    }
    
    #content {
        width: 450px;
        align-items: center;
        margin-top: 130px;
    }
    
    @media (max-width:426px) {
        .content1 {
            flex-direction: column;
            /* stack items */
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 20px;
        }
        .content1 img {
            width: 300px;
            height: 200px;
        }
        #content {
            font-size: small;
            text-align: center;
            align-items: center;
            width: 426px;
            margin-top: 0px;
        }
    }
    
    .about-page h1 {
        font-family: serif;
        color: #FFA239;
        text-align: center;
    }
    
    .about-page h3 {
        font-family: cursive;
        color: #FFA239;
        text-align: center;
    }
    
    .about-page p {
        color: whitesmoke;
        text-align: center;
        align-items: center;
    }
    
    #couple-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* #about-icon {
        text-align: center;
        color: whitesmoke;
    } */
    
    #about-ul {
        color: whitesmoke;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
    #about-ul ul {
        list-style-type: circle;
    }
    
    #menu-list {
        color: whitesmoke;
        text-align: center;
    }
    
    #menu-list p {
        color: whitesmoke;
        text-align: center;
    }
    
    .menu-h1 {
        text-align: center;
        font-family: serif;
        color: #FFA239;
    }